{{define "main" -}}

import 'package:commons/ui/selectable_text_utils.dart';
import 'package:flutter/material.dart';

extension SelectableTextLetterSpacingExt on SelectableText {
  ///...

  TextStyle get style {
    return this.style ?? const TextStyle();
  }

  /// set letterSpacing to ls
  SelectableText ls(double? ls) {
    return copyWith(
      style: style.copyWith(letterSpacing: ls),
    );
  }

  {{range  . -}}

  /// set letterSpacing to {{.Value}}
  SelectableText ls{{ .Name | Capitalize }}() => ls({{.Value}});

  {{ end -}} 

}
{{end}}