{{define "main" -}}

part of 'padding.dart';

{{range  . -}}

// p{{.Name}} => padding = {{.Px}}px 
EdgeInsetsPadding p{{.Name }}() => p({{.Px}});

// px{{.Name}} => padding left, right = {{.Px}}px 
EdgeInsetsPadding px{{.Name }}() => px({{.Px}});

// py{{.Name}} => padding top, bottom = {{.Px}}px 
EdgeInsetsPadding py{{.Name }}() => py({{.Px}});

// pt{{.Name}} => padding top = {{.Px}}px 
EdgeInsetsPadding pt{{.Name }}() => pt({{.Px}});

// pb{{.Name}} => padding bottom = {{.Px}}px 
EdgeInsetsPadding pb{{.Name }}() => pb({{.Px}});

// pl{{.Name}} => padding left = {{.Px}}px 
EdgeInsetsPadding pl{{.Name }}() => pl({{.Px}});

// pr{{.Name}} => padding right = {{.Px}}px 
EdgeInsetsPadding pr{{.Name }}() => pt({{.Px}});

{{ end -}} 

{{end}}