{{define "main" -}}

part of 'rounded_rectangle_border.dart';

{{range  . -}}

/// krrb{{.Name}} => corner radius = {{.Px}}
final RoundedRectangleBorder krrb{{.Name }} = rrb({{.Px}});

{{ end -}} 

{{end}}