{{define "main" -}}

part of "size.dart";

{{range  . -}}

/// ks{{.Name}} => square with both sides = {{.Px}}
final Size ks{{.Name }} = ss({{.Px}});

/// ksh{{.Name}} => infinite width, height = {{.Px}}
final Size ksh{{.Name }} = sh({{.Px}});

/// ksh{{.Name}} => infinite height, width = {{.Px}}
final Size ksw{{.Name }} = sw({{.Px}});

{{ end -}} 

{{end}}